@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5 ease-in-out;
}

.ResultadoFilmes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    padding-top: 26vh;
    background-color: #121212;
}

.ResultadoFilmes2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    background-color: #121212;
    transition: 0.3s ease-in-out;
}

.ResultadoH1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 13pt;
    margin: 30px 0 30px 0;
    font-weight: 800;
}

.BtnLimpar{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12pt;
    font-weight: 600;
    cursor: pointer;
    padding: 15px;
}

.navbar{
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #0F0F0F;
    position: fixed;
    z-index: 3;
}

.Header{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #0F0F0F;
    top: 14vh;
    position: fixed;
    z-index: 2;
}

.Pesquisar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0F0F0F;
    position: fixed;
}

.InputPes{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 12pt;
    font-weight: 600;
    background-color: #131313;
    color: #857D7D;
    transition: background-color 0.3s, color 0.3s;
}

.InputPes::placeholder{
    color: #857D7D;
    font-size: 12pt;
    font-weight: 600;
}

.InputPes:focus{
    background-color: #131313;
    color: #857D7D;
}

.BtnPes{
    border-radius: 5px;
    border: solid 2px #857D7D;
    outline-color: white;
    padding: 5px;
    margin: 10px;
    height: 40px;
    font-size: 12pt;
    font-weight: 600;
    background-color: #131313;
    color: #857D7D;
    cursor: pointer;
}

.BtnPes:hover{
    background-color: #131313;
    color: #857D7D;
    border: 2px solid #857D7D;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
}

.navbar-link{
    padding: 0;
    margin: 0;
    /* z-index: 3; */
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navbar-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    gap: 6px;
}

.navbar-items img{
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.navbar-items p{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
}

.iconNoti{
    width: 15px;
    height: 15px;
    color: #fff;
}

.nav-links li{
    list-style: none;
    position: relative;
}

.nav-links li a {
    display: flex;
    text-align: start;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    transition: color 0.3s ease, color 0.6s ease;
}

.nav-links li a:hover{
    color: red;
    transition: color 0.3s ease;
}

.nav-links li a::after,
.nav-links li p.active::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: width 0.4s, left 0.4s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-links li a:hover::after {
    width: 30%;
    left: 0;
}

.Btn-1{
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
}
  
.bar1 {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 10px;
    background-color: red;
    margin: 5px 0;
}

.bar2{
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    margin: 5px 0;
}

.bar3{
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    margin: 5px 0;
}

.Mobile{
    display: none;
}

.ver{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Destaque{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.Destaque h1{
    padding: 3%;
    font-size: 12pt;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.Filmes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background-color: #121212;
}

.Filme{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0F0F0F;
    transition: 0.5s ease-in-out;
}

.Filme img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Titulo{
    display: flex;
    width: 100%;
    color: white;
    font-size: 10pt;
    margin-top: 10px;
    font-weight: 800;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #CECECE;
    font-size: 8pt;
    font-weight: 600;
}

.btnVer{
    background-color: red;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 8pt;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: auto;
    color: #CECECE;
}

.footer-p1{
    width: 100%;
    background-color: red;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footer-p1 h1{
    font-size: 12pt;
    font-weight: 600;
    color: white;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    gap: 30px;
}

.redes svg {
    position: relative;
    width: 15px;
    height: 15px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.redes svg:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.redes svg:active {
    color: black;
    animation: pulse 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer-p2{
    background-color: #131313;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    width: 100%;
}

.footer-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.footer-info h1{
    font-size: 14pt;
    font-weight: 600;
    color: white;
}

.footer-info p{
    font-size: 9pt;
    font-weight: 600;
    color: #CECECE;
}

.text-ney{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-p3{
    background-color: #0F0F0F;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    width: 100%;
}

.footer-p3 h1{
    font-size: 13pt;
    font-weight: 700;
    color: #CECECE;
}

.generos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background-color: #121212;
    padding-top: 26vh;
    transition: 0.3s ease-in-out;
}

.generos h1{
    font-size: 12pt;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    padding: 3%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.generos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    gap: 10px; 
    transition: 0.3s ease-in-out;
}

.generos li{
    color: white;
    font-size: 10pt;
    font-weight: 800;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: auto;
    flex-wrap: wrap;
    background-color: #121212;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.selected {
    background-color: red!important;
    color: white!important;
    border: 2px solid white;
    transition: 0.3s ease-in-out;
}

.ResultadoFilmes2 h1{
    font-size: 12pt;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    padding: 3%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.BtnLi{
    background-color: #131313;
    border: 2px solid white;
    width: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    padding: 6px;
    margin: 10px;
}

@media screen and (max-width: 1222px){

    .navbar-logo img{
        width: 96px;
        height: 96px;
    }

    .redes{
        margin-top: 20px;
    }

    .navbar-link{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -400px;
        height: 100vh;
        width: 300px;
        background-color: #0F0F0F;
        transition: 1s ease-in-out;
        animation: 1s ease-in-out;
        padding: 0 40px 0 40px;
        z-index: 3;
    }

    .Header{
        position: relative;
        z-index: 1;
    }

    .nav-links{
        gap: 8px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .nav-links li{
        margin: 30px 0;
    }

    .Mobile{
        display: block;
    }

    .Btn-1{
        cursor: pointer;
    }

    .navbar-link.active{
        right: 0px;
        z-index: 3;
    }

}
