.Filmes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #121212;
}

.Destaque2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
  flex-wrap: wrap;
  font-size: 16pt;
  font-weight: 800;
  padding-top: 26vh;
  color: white;
}

.Filme2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  grid-column: auto;
  margin: 5%;
  border-radius: 10px;
  background-color: #0F0F0F;
}

.Filme2 img {
  width: 40%;
  height: 100%;
  margin: 4%;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 100%;
  color: #CECECE;
  font-weight: 600;
}

.T{
  display: flex;
  width: 100%;
  height: 20%;
  color: white;
  font-weight: 600;
  font-size: 18pt;
  margin-top: 12px;
}

.D{
  display: flex;
  width: 100%;
  flex-direction:row;
  grid-row: auto;
  color: #CECECE;
  font-weight: 600;
  font-size: 12pt;
  margin-top: 10px;
}

.link_button{
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 12pt;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.trailer{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #CECECE;
  font-weight: 600;
  font-size: 12pt;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 1%;
  transition: 0.5s ease-in-out;
}
.genNome{
  display: flex;
  width: 110px;
  height: 40px;
  background-color: red;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-weight: 800;
  font-size: 8pt;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

.movie-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  grid-row: auto;
  flex-wrap: wrap;
  background-color: #121212;
  color: #CECECE;
  font-weight: 600;
  font-size: 12pt;
  transition: 0.5s ease-in-out;
  padding-bottom: 100px;
}

.movie-grid h2{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.Filme3{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0F0F0F;
  transition: 0.5s ease-in-out;
}

.Filme3 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


@media screen and (max-width: 1113px){
  .Filme2{
    width: 100%;
    flex-direction: column;
  }
  .Filme2 img{
    width: 90%;
    height: 100%;
  }
}
